import(survival, stats, nlme)

export(infer.haplos, make.haplo.rare, haplo.quant, summary.hapQuant, print.summary.hapQuant, prepare.cc, infer.haplos.cc, haplo.bin, summary.hapBin, print.summary.hapBin, haplo.cc.match, summary.hapClogit, print.summary.hapClogit, haplo.long, summary.hapLong, print.summary.hapLong, haplo.surv, summary.hapSurv, print.summary.hapSurv, snp.quant, summary.snpQuant, print.summary.snpQuant, snp.bin, summary.snpBin, print.summary.snpBin, snp.cc.match, summary.snpClogit, print.summary.snpClogit, snp.long, summary.snpLong, print.summary.snpLong, snp.surv, summary.snpSurv, print.summary.snpSurv, epi.quant, summary.epiQuant, print.summary.epiQuant, epi.bin, summary.epiBin, print.summary.epiBin, epi.cc.match, summary.epiClogit, print.summary.epiClogit, epi.long, summary.epiLong, print.summary.epiLong, epi.surv, summary.epiSurv, print.summary.epiSurv, SNP2Geno, SNP2Haplo)

S3method(summary, snpSurv)
S3method(summary, snpQuant)
S3method(summary, snpLong)
S3method(summary, snpBin)
S3method(summary, snpClogit)
S3method(summary, hapSurv)
S3method(summary, hapQuant)
S3method(summary, hapLong)
S3method(summary, hapBin)
S3method(summary, hapClogit)
S3method(summary, epiSurv)
S3method(summary, epiQuant)
S3method(summary, epiLong)
S3method(summary, epiBin)
S3method(summary, epiClogit)
S3method(print, summary.snpSurv)
S3method(print, summary.snpQuant)
S3method(print, summary.snpLong)
S3method(print, summary.snpBin)
S3method(print, summary.snpClogit)
S3method(print, summary.hapSurv)
S3method(print, summary.hapQuant)
S3method(print, summary.hapLong)
S3method(print, summary.hapBin)
S3method(print, summary.hapClogit)
S3method(print, summary.epiSurv)
S3method(print, summary.epiQuant)
S3method(print, summary.epiLong)
S3method(print, summary.epiBin)
S3method(print, summary.epiClogit)

